<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="display: flex; justify-content: center;" >

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>iDrop</mat-card-title>
    </mat-card-header>


    <form #registerForm="ngForm">
      <div class="form-group">

        <input type="text" ngModel name="fullname" class="form-control" id="fullName" placeholder="Full Name" required>
     </div>

     <div class="form-group">
      <select class="form-control" id="role"  ngModel name="role" aria-placeholder="Role" required>
        <option value="" disabled selected hidden >User Role</option>
        <option *ngFor="let role of userRoles" [value]="role.name">
          {{role.name}}
        </option>
      </select>
<!-- 
      <input type="text" ngModel name="rolename" class="form-control" id="rolename" placeholder="User Role" required> -->
   </div>
      <div class="form-group">

          <input type="text" ngModel name="username" class="form-control" id="name" placeholder="Username" required>
       </div>

      <div class="form-group">

        <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
       </div>
       <div class="modal-footer"  style="display: flex; justify-content: center;">

          <app-alert *ngIf="msg!='none'" [message]="'alert-warning'" (close)="onAlertClose()" >
            {{msg}}
          </app-alert>
          <button [disabled]="registerForm.invalid" type="submit" mat-stroked-button (click)="userRegister(registerForm)" 
          color="accent" class="btn btn-primary">Register</button>
        
      </div>
    

    </form>

    <a>Already Registered?</a>
    <a class="btn btn-link" routerLink="../login" routerLinkActive="active">Login</a>
  </mat-card>
  
</div>