<nav class="navbar navbar-expand-lg navbar-dark bg-dark">   
   <a href="/dashboard"><img class="navbar-brand" src="../assets/complaint.png" style="width:28px; color: white;" alt="iDrop">{{this.userName}}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="onSearchStudents(key.value)" #key="ngModel" ngModel
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search students..." required>
   </form>
    <form class="form-inline my-2 my-lg-0">
    <button (click)="onOpenStudentModal(null, 'add')" class="btn btn-success" data-dismiss="modal">Add Student</button>
    </form>
    <form class="form-inline my-3 my-lg-1">
      <button  type="submit" mat-stroked-button (click)="onLogout()" 
color="accent" class="btn btn-outline-danger" routerLink="../login" routerLinkActive="active">Logout</button>
      </form>
</div>


</nav>

 
 <div class="container" id="student-container">
 
    <div >

         <div style="display: flex; justify-content: center;">
            <mat-spinner  *ngIf="isLoading" color="secondary"></mat-spinner>
         </div>
       
    </div>
         <div class="row">
             <div *ngFor="let student of pageSlice" class="col-lg-4">
                 <div class="text-center card-box">
                     <div class="member-card pt-2 pb-2">
                         <div class="thumb-lg member-thumb mx-auto"><img src={{student.photoURL}} class="rounded-circle img-thumbnail" alt="profile-image"></div>
                         <div class="">
                             <h4>{{student.name}}</h4>
              
                             <p class="text-muted">{{student.roomNumber}} <span>| </span><span><a href="#" class="text-pink">0{{student.phoneNumber}}</a></span></p>
                             <i class="fa fa-birthday-cake" aria-hidden="true"></i> {{student.dateOfBirth | date: 'dd/MM/yyyy'}}
                           </div>

                      
                         
                         <a (click)="onOpenStudentModal(student, 'delete')" class="btn btn-outline-danger" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                         </div>
 
                         <div class="mt-4">
                             <div class="row">
                                 <div class="col-4">
                                     <div class="mt-3">
                                         <h4>{{student.id}}</h4>
                                         <p class="mb-0 text-muted">ID</p>
                                     </div>
                                 </div>
                                 <div class="col-4">
                                     <div class="mt-3">
                                         <h4>{{student.department}}</h4>
                                         <p class="mb-0 text-muted">Department</p>
                                     </div>
                                 </div>
                                 <div class="col-4">
                                     <div class="mt-3">
                                         
                                         <a (click)="onOpenStudentModal(student, 'edit')" class="btn btn-outline-primary" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i> </a> 
                                         
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- end col -->
  
             <!-- end col -->
         </div>
 
 
   <!-- Delete Student Modal -->
   <div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteStudentModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="deleteStudentModalLabel">Delete {{deleteStudent?.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <p>Are you sure you want to delete this student?</p>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                 <button (click)="onDeleteStudent(deleteStudent?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
           </div>
        </div>
     </div>
   </div>
 
 
 
   <!-- Add Student Modal -->
   <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addStudentModalLabel" class="font-style">Student Information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           
           <div class="modal-body">
              <form #addStudentForm="ngForm" (ngSubmit)="onAddStudent(addStudentForm)">
                 <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" ngModel name="name" class="form-control" id="name" placeholder="John Doe" required>
                  </div>
                  <div class="form-group">
                     <label for="department">Department</label>
                     <input type="text" ngModel name="department" class="form-control" id="department" placeholder="TVE" required>
                  </div>
                  <div class="form-group">
                     <label for="address">Room Number</label>
                     <input type="text" ngModel name="roomNumber" class="form-control" id="roomNumber" placeholder="UB 000" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Phone Number</label>
                     <input type="number" ngModel name="phoneNumber" class="form-control" id="phoneNumber" placeholder="0145678910" required>
                  </div>
                  

                  <div class="form-group">
                     <label for="name">Date of Birth</label>
                     <div>
                     </div>
                      <mat-form-field color="primary" style="z-index: 2000;" appearance="fill">
                         <mat-label color="accent">MM/DD/YYYY</mat-label>
                         <input color="accent" ngModel name="dateOfBirth" class="form-control" id="dateOfBirth"  matInput [matDatepicker]="picker0"> 
                         <mat-datepicker-toggle color="accent" style="z-index: 2000;" matSuffix [for]="picker0">
                           </mat-datepicker-toggle>
                         <mat-datepicker  color="accent"  style="z-index: 2000;"#picker0></mat-datepicker>
                     </mat-form-field>
                  </div>       
                  <div class="form-group">
                     <label for="photo">Photo URL</label>
                     <input type="text" ngModel name="photoURL" class="form-control" id="photoURL" placeholder="https://www.bootdey.com/img/Content/avatar/avatar1.png" required>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button [disabled]="addStudentForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
                  </div>
              </form> 
 
           </div>
        </div>
     </div>
   </div>
 
 
 
     <!-- Edit Student Modal -->
     <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                 <h5 class="modal-title" id="editStudentModalLabel">Edit {{editStudent?.name}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 </div>
                 <div class="modal-body">
                     <form #editStudentForm="ngForm">
                         <div class="form-group">
                             <label for="name">ID</label>
                             <input type="text" ngModel="{{editStudent?.id}}" name="id" class="form-control" id="name" aria-describedby="emailHelp" placeholder="ID" readonly>
                          </div>
  
                         <div class="form-group">
                             <label for="name">Name</label>
                             <input type="text" ngModel="{{editStudent?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                          </div>
 
                          <div class="form-group">
                             <label for="name">Department</label>
                             <input type="text" ngModel="{{editStudent?.department}}" name="department" class="form-control" id="department" aria-describedby="emailHelp" placeholder="Name">
                          </div>
                         
                          <div class="form-group">
                             <label for="name">Room Number</label>
                             <input type="text" ngModel="{{editStudent?.roomNumber}}" name="roomNumber" class="form-control" id="roomNumber" aria-describedby="emailHelp" placeholder="Name">
                          </div>
 
                          <div class="form-group">
                             <label for="name">Phone Number</label>
                             <input type="text" ngModel="{{editStudent?.phoneNumber}}" name="phoneNumber" class="form-control" id="phoneNumber" aria-describedby="emailHelp" placeholder="Name">
                          </div>

                          <div class="form-group">
                           <label for="name">Date of Birth</label>
                          <div>
                          </div>
                           <mat-form-field color="primary" style="z-index: 2000;" appearance="fill">
                              <mat-label color="accent">MM/DD/YYYY</mat-label>
                              <input color="accent" ngModel="{{editStudent?.dateOfBirth}}" name="dateOfBirth" class="form-control" id="dateOfBirth"  matInput [matDatepicker]="picker"> 
                              <mat-datepicker-toggle color="accent" style="z-index: 2000;" matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                              <mat-datepicker  color="accent"  style="z-index: 2000;"#picker></mat-datepicker>
                          </mat-form-field>
                        </div>     
                                            
                       
                          <div class="form-group">
                             <label for="name">Photo URL</label>
                             <input type="text" ngModel="{{editStudent?.photoURL}}" name="photoURL" class="form-control" id="photoURL" aria-describedby="emailHelp" placeholder="Name">
                          </div>
                          <div class="modal-footer">
                         
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                        <button (click)="onUpdateStudent(editStudentForm.value)" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                     </div>
                 </form>
                  </div>
 
             </div>



         </div>

     </div>
 
   
   <div *ngIf="students?.length == 0 && this.isLoading == false" class="col-lg-12 col-md-12 col-xl-12">
     <div class="alert alert-info" role="alert">
       <h4 class="alert-heading">NO STUDENTS!</h4>
       <p>No Students were found! Please utilize the 'Add Student' option.</p>
     </div>
    </div>
 
 
    <mat-paginator [length]="students?.length"
    [pageSize]="6"
    [pageSizeOptions]="[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102]"
    (page)="onPaginateChange($event)" aria-label="Select page">
  
    
   </mat-paginator>
 
  
    <style>
      ::ng-deep .cdk-overlay-container {
        z-index: 2000;
        color: rgb(34, 73, 106);
      }
    </style>