<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>iDrop</mat-card-title>
      </mat-card-header>
      <form #loginForm="ngForm">
        <div class="form-group">

            <input type="text" ngModel name="username" class="form-control" id="name" placeholder="Username" required>
         </div>

        <div class="form-group">

          <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
         </div>
         <div class="modal-footer">
  
       <button [disabled]="loginForm.invalid" type="submit" mat-stroked-button (click)="userLogin(loginForm)" 
        color="accent" class="btn btn-primary"  routerLink="../dashboard" routerLinkActive="active">Login</button>
    </div>
</form>
    <a>Not Registered?</a>
    <a class="btn btn-link" routerLink="../register" routerLinkActive="active">Register</a>
    </mat-card>

    
  </div>